<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>C++ Web Framework</title>
</head>
<body>
<h1>С++ Web Framework</h1>
<p>Здравствуйте! Хочу представить вам свой Web-фреймворк на С++.</p>
<h2>Что он умеет?</h2>
<h3>Маршрутизация</h3>
Фреймворк поддерживает маршрутизацию по разным url. Для того, чтобы удостоверится в этом перейдите по ссылке
<a href="/page2">страница 2</a>.
<h3>Обработка разных методов запроса</h3>
<h4>Метод post</h4>
Не определен для этой страницы, должно быть выдано соответсвующее сообщение.
<form action="/" method="post">
    <input type="submit" value="метод post">
</form>
</body>
</html>